# Explore & Clean the Data

In [1]:
import glob 
import pandas as pd
import uuid

In [2]:
# Get a list of all CSV files in the specified directory
files = glob.glob("../data/JC-2016*.csv")
# Read all files and concatenate them into a single DataFrame
df_list = list()
# Loop through each file and read it into a DataFrame
for file in files:
    try:
        temp_df = pd.read_csv(file)
        df_list.append(temp_df)
    except pd.errors.EmptyDataError:
        print(f'File {file} is empty and will be skipped.')

# Concatenate all DataFrames into a single DataFrame
citibike_df = pd.concat(df_list, ignore_index=True)

In [3]:
print(f"Number of rows in the DataFrame: {citibike_df.shape[0]}\nNumber of columns in the DataFrame: {citibike_df.shape[1]}")

Number of rows in the DataFrame: 247584
Number of columns in the DataFrame: 15

In [4]:
description_df = pd.DataFrame({
    "attribute": citibike_df.columns,
    "null_values": citibike_df.isnull().sum(),
    "number_of_rows": citibike_df.shape[0],
    "data_type": citibike_df.dtypes,
    "unique_values": citibike_df.nunique(),
    "sample_values": [citibike_df[col].dropna().unique()[:5] for col in citibike_df.columns],
        
})

description_df

,attribute,null_values,number_of_rows,data_type,unique_values,sample_values
Trip Duration,Trip Duration,0,247584,int64,6024,"[362, 200, 202, 248, 903]"
Start Time,Start Time,0,247584,object,244407,"[2016-01-01 00:02:52, 2016-01-01 00:18:22, 201..."
Stop Time,Stop Time,0,247584,object,244137,"[2016-01-01 00:08:54, 2016-01-01 00:21:42, 201..."
Start Station ID,Start Station ID,0,247584,int64,51,"[3186, 3209, 3195, 3211, 3187]"
Start Station Name,Start Station Name,0,247584,object,51,"[Grove St PATH, Brunswick St, Sip Ave, Newark ..."
Start Station Latitude,Start Station Latitude,0,247584,float64,51,"[40.71958611647166, 40.7241765, 40.73074262530..."
Start Station Longitude,Start Station Longitude,0,247584,float64,51,"[-74.04311746358871, -74.0506564, -74.06378388..."
End Station ID,End Station ID,0,247584,int64,102,"[3209, 3213, 3203, 3210, 3214]"
End Station Name,End Station Name,0,247584,object,102,"[Brunswick St, Van Vorst Park, Hamilton Park, ..."
End Station Latitude,End Station Latitude,0,247584,float64,102,"[40.7241765, 40.71848892, 40.727595966, 40.742..."
End Station Longitude,End Station Longitude,0,247584,float64,102,"[-74.0506564, -74.047726625, -74.044247311, -7..."
Bike ID,Bike ID,0,247584,int64,566,"[24647, 24605, 24689, 24693, 24573]"
User Type,User Type,380,247584,object,2,"[Subscriber, Customer]"
Birth Year,Birth Year,18999,247584,float64,64,"[1964.0, 1962.0, 1984.0, 1988.0, 1980.0]"
Gender,Gender,0,247584,int64,3,"[2, 1, 0]"

In [5]:
# Remove rows where 'User Type' is NaN
citibike_df.dropna(subset=['User Type'], inplace=True)

# Calculate the mean birth year 
mean_birth_year = int(citibike_df['Birth Year'].mean())

# Fill NaN values in 'Birth Year' with the mean birth year
citibike_df['Birth Year'] = citibike_df['Birth Year'].fillna(mean_birth_year)

# Convert 'Trip Duration' from seconds to minutes and round to 2 decimal places
citibike_df['Trip Duration Minutes'] = (citibike_df['Trip Duration'] / 60).round(2)

# Map the genre values to more descriptive names
citibike_df['Gender Name'] = citibike_df['Gender'].map({
    0: 'Unknown',
    1: 'Male',
    2: 'Female'
})

In [6]:
citibike_df.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender', 'Trip Duration Minutes', 'Gender Name'],
      dtype='object')

# Create a DB schema structure - Denormalize

In [7]:
# Create a new column 'Trip Id' starting from 1
citibike_df['Trip Id'] = [str(uuid.uuid4()) for _ in range(len(citibike_df))]

## Extract Trips data

In [8]:
trips_df = citibike_df[['Trip Id', 'Start Time', 'Stop Time', 'Trip Duration Minutes', 
                        'Trip Duration','Start Station ID', 'End Station ID', 
                        'Bike ID', 'User Type', 'Birth Year','Gender']]

## Extract stations data

In [9]:
start_stations = citibike_df[['Start Station ID', 'Start Station Name', 
                              'Start Station Latitude', 'Start Station Longitude']]
start_stations.columns = ['Station ID', 'Name', 'Latitude', 'Longitude']

end_stations = citibike_df[['End Station ID', 'End Station Name', 
                            'End Station Latitude', 'End Station Longitude']]
end_stations.columns = ['Station ID', 'Name', 'Latitude', 'Longitude']

stations_df = pd.concat([start_stations, end_stations]).drop_duplicates('Station ID')

## Extract bikes data

In [10]:
bikes_df = citibike_df[['Bike ID']].drop_duplicates().sort_values(by='Bike ID').reset_index(drop=True)

## Extract Genre data

In [11]:
genre_df = citibike_df[['Gender', 'Gender Name']].drop_duplicates().sort_values(by='Gender').reset_index(drop=True)

# 🛠️ Storing pandas DataFrames in PostgreSQL: Two Common Approaches

When working with `pandas` DataFrames, there are two primary methods to transfer data into a PostgreSQL database:

---

## 📁 **Approach 1: Export to CSV and Import via pgAdmin (Manual Method)**

Export a DataFrame to a `.csv` file and use **pgAdmin** to import it into a PostgreSQL table.

### ✅ Pros:
- Simple and beginner-friendly.
- Ideal for small datasets or one-time tasks.

### ❌ Cons:
- Manual and not scalable.
- Requires switching between Python and pgAdmin.
- Limited control over data types and schema.

---

## 🔗 **Approach 2: Connect to PostgreSQL and Write Tables Using SQLAlchemy (Automated Method)**

Use Python with the `SQLAlchemy` library to connect to PostgreSQL and write DataFrames directly to tables.

### ✅ Pros:
- Automated and scalable.
- Full control over schema and data types.
- Stays within Python, no tool-switching required.

### ❌ Cons:
- Requires setup (e.g., installing libraries, configuring connection).
- Slightly more complex for beginners.

---

## 📊 **Summary Table**

| **Feature**               | **Approach 1 (CSV + pgAdmin)** | **Approach 2 (SQLAlchemy)** |
|---------------------------|--------------------------------|-----------------------------|
| **Automation**            | Manual                        | Automated                  |
| **Scalability**           | Low                           | High                       |
| **Ease for Beginners**    | High                          | Moderate                   |
| **Control Over Schema**   | Limited                       | Full                       |
| **Tool Usage**            | Python + pgAdmin              | Python Only                |

Choose **Approach 1** for quick, small-scale tasks or if you're new to databases. Use **Approach 2** for larger datasets, automation, or production workflows.

## Approach 1

## Approach 2

### Make the connection to the PostgreSQL instance

In [ ]:
# Import necessary libraries for database connection
from sqlalchemy import create_engine
from sqlalchemy import text

username = 'postgres'
password = '697597759'
host = 'localhost'
port = '5432'
database = 'bikerentals'

# SQLAlchemy engine creation
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}')

### Create a schema

In [20]:
# Create the schema if it doesn't exist
with engine.begin() as conn:  # begin() will auto-commit
    conn.execute(text("CREATE SCHEMA IF NOT EXISTS bikes;"))

### Creating Tables from DataFrames

Let's create the stations table from the code

In [21]:
# Push DataFrame into the new schema
stations_df.to_sql('stations', engine, schema='bikes', if_exists='replace', index=False)

102

In [ ]:
# Verify Table in Schema
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM bikes.stations;"))
    for row in result:
        print(row)

(3186, 'Grove St PATH', 40.71958611647166, -74.04311746358871)
(3209, 'Brunswick St', 40.7241765, -74.0506564)
(3195, 'Sip Ave', 40.73074262530658, -74.06378388404846)
(3211, 'Newark Ave', 40.72152515, -74.046304543)
(3187, 'Warren St', 40.7211236, -74.03805095)
(3183, 'Exchange Place', 40.7162469, -74.0334588)
(3213, 'Van Vorst Park', 40.71848892, -74.047726625)
(3193, 'Lincoln Park', 40.7246050998869, -74.07840594649315)
(3194, 'McGinley Square', 40.7253399253558, -74.06762212514877)
(3202, 'Newport PATH', 40.7272235, -74.0337589)
(3196, 'Riverview Park', 40.7443187, -74.0439909)
(3214, 'Essex Light Rail', 40.7127742, -74.0364857)
(3207, 'Oakland Ave', 40.7376037, -74.0524783)
(3199, 'Newport Pkwy', 40.7287448, -74.0321082)
(3203, 'Hamilton Park', 40.727595966, -74.044247311)
(3210, 'Pershing Field', 40.742677141, -74.051788633)
(3190, 'Garfield Ave Station', 40.7104670233797, -74.07003879547119)
(3185, 'City Hall', 40.7177325, -74.043845)
(3197, 'North St', 40.752559, -74.044725)
(3192, 'Liberty Light Rail', 40.7112423, -74.0557013)
(3212, 'Christ Hospital', 40.734785818, -74.050443636)
(3225, 'Baldwin at Montgomery', 40.7236589, -74.0641943)
(3215, 'Central Ave', 40.7467299, -74.0492509)
(3206, 'Hilltop', 40.7311689, -74.0575736)
(3184, 'Paulus Hook', 40.7141454, -74.0335519)
(3205, 'JC Medical Center', 40.71653978099194, -74.0496379137039)
(3198, 'Heights Elevator', 40.74871594538023, -74.04044330120087)
(3220, '5 Corners Library', 40.73496102000952, -74.0595030784607)
(3191, 'Union St', 40.7182113, -74.0836394)
(3201, 'Dey St', 40.737711, -74.066921)
(3217, 'Bayside Park', 40.698650544, -74.082079678)
(3188, 'NJCU', 40.7101087, -74.0858489)
(3200, 'MLK Light Rail', 40.7111305, -74.0788855)
(3216, 'Columbia Park', 40.6970299, -74.0969366)
(3189, 'West Side Light Rail', 40.714402, -74.0887723)
(3270, 'Jersey & 6th St', 40.72528910781132, -74.04557168483734)
(3267, 'Morris Canal', 40.7124188237569, -74.03852552175522)
(3272, 'Jersey & 3rd', 40.72333158646436, -74.04595255851744)
(3268, 'Lafayette Park', 40.71346382669195, -74.06285852193832)
(3278, 'Monmouth and 6th', 40.72568548362901, -74.04879033565521)
(3279, 'Dixon Mills', 40.721630142638354, -74.04996782541275)
(3276, 'Marin Light Rail', 40.71458403535893, -74.04281705617905)
(3273, 'Manila & 1st', 40.72165072487999, -74.04288411140442)
(3275, 'Columbus Drive', 40.71835519823214, -74.03891444206238)
(3274, 'Bethune Center', 40.704957516728605, -74.08593088388443)
(3281, 'Leonard Gordon Park', 40.74590996631558, -74.0572714805603)
(3271, 'Danforth Light Rail', 40.69263996618329, -74.08801227807997)
(3269, 'Brunswick & 6th', 40.72601172964625, -74.05038893222809)
(3280, 'Astor Place', 40.71928220070702, -74.07126188278198)
(3426, 'JCBS Depot', 40.70965083364061, -74.06860113143921)
(3277, 'Communipaw & Berry Lane', 40.71435836870427, -74.06661093235016)
(534, 'Water - Whitehall Plaza', 40.70255065, -74.0127234)
(249, 'Harrison St & Hudson St', 40.71870987, -74.0090009)
(225, 'W 14 St & The High Line', 40.74195138, -74.00803013)
(276, 'Duane St & Greenwich St', 40.71748752, -74.0104554)
(403, 'E 2 St & 2 Ave', 40.72502876, -73.99069656)
(295, 'Pike St & E Broadway', 40.71406667, -73.99293911)
(430, 'York St & Jay St', 40.7014851, -73.98656928)
(2008, 'Little West St & 1 Pl', 40.70569254, -74.01677685)
(405, 'Washington St & Gansevoort St', 40.739323, -74.008119)
(147, 'Greenwich St & Warren St', 40.71542197, -74.01121978)
(3178, 'Riverside Dr & W 78 St', 40.78414472, -73.98362492)
(173, 'Broadway & W 49 St', 40.76068327096592, -73.9845272898674)
(252, 'MacDougal St & Washington Sq', 40.73226398, -73.99852205)
(484, 'W 44 St & 5 Ave', 40.75500254, -73.98014437)
(505, '6 Ave & W 33 St', 40.74901271, -73.98848395)
(327, 'Vesey Pl & River Terrace', 40.7153379, -74.01658354)
(363, 'West Thames St', 40.70834698, -74.01713445)
(329, 'Greenwich St & North Moore St', 40.72015227023285, -74.01036500930786)
(457, 'Broadway & W 58 St', 40.76695317, -73.98169333)
(358, 'Christopher St & Greenwich St', 40.73291553, -74.00711384)
(315, 'South St & Gouverneur Ln', 40.70355377, -74.00670227)
(477, 'W 41 St & 8 Ave', 40.75640548, -73.9900262)
(428, 'E 3 St & 1 Ave', 40.72467721, -73.98783413)
(3002, 'South End Ave & Liberty St', 40.711512, -74.015756)
(514, '12 Ave & W 40 St', 40.76087502, -74.00277668)
(390, 'Duffield St & Willoughby St', 40.69221589, -73.9842844)
(501, 'FDR Drive & E 35 St', 40.744219, -73.97121214)
(351, 'Front St & Maiden Ln', 40.70530954, -74.00612572)
(3265, 'E 2 St & 2 Ave E', 40.7245634290432, -73.9894437789917)
(304, 'Broadway & Battery Pl', 40.70463334, -74.01361706)
(284, 'Greenwich Ave & 8 Ave', 40.7390169121, -74.0026376103)
(3314, 'W 95 St & Broadway', 40.7937704, -73.971888)
(498, 'Broadway & W 32 St', 40.74854862, -73.98808416)
(3169, 'Riverside Dr & W 82 St', 40.78720869, -73.98128127)
(380, 'W 4 St & 7 Ave S', 40.73401143, -74.00293877)
(3331, 'Riverside Dr & W 104 St', 40.8013434, -73.9711457439)
(386, 'Centre St & Worth St', 40.71494807, -74.00234482)
(427, 'Bus Slip & State St', 40.701907, -74.013942)
(347, 'Greenwich St & W Houston St', 40.728846, -74.008591)
(359, 'E 47 St & Park Ave', 40.75510267, -73.97498696)
(426, 'West St & Chambers St', 40.71754834, -74.01322069)
(3085, 'Roebling St & N 4 St', 40.71469, -73.95739)
(360, 'William St & Pine St', 40.70717936, -74.00887308)
(328, 'Watts St & Greenwich St', 40.72405549, -74.00965965)
(446, 'W 24 St & 7 Ave', 40.74487634, -73.99529885)
(520, 'W 52 St & 5 Ave', 40.75992262, -73.97648516)
(2004, '6 Ave & Broome St', 40.724399, -74.004704)
(393, 'E 5 St & Avenue C', 40.72299208, -73.97995466)
(401, 'Allen St & Rivington St', 40.72019576, -73.98997825)
(376, 'John St & William St', 40.70862144, -74.00722156)
(224, 'Spruce St & Nassau St', 40.71146364, -74.00552427)